{% extends 'base' %}

{% block content %}

  <h2><a href="{{ file_out_name }}">{{ out.metadata.get("title") }}</a></h2>

  {{ out }}

{% endblock %}

{% block scripts %}
  {% if out.metadata.get("uses_mermaid") == "true" %}

    <script type="module" defer>
      import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
      mermaid. Initialize({
      securityLevel: 'loose',
      startOnLoad: true
      });
      let observer = new MutationObserver(mutations => {
      for(let mutation of mutations) {
      mutation.target.style.visibility = "visible";
      }
      });
      document.querySelectorAll("pre.mermaid-pre div.mermaid").forEach(item => {
      observer.observe(item, {
      attributes: true,
      attributeFilter: ['data-processed'] });
      });
    </script>
  {% endif %}
{% endblock %}
